<h1>Books</h1>
<table class="table">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr class="clickable "
		   onclick='window.location="<%= book_path(book)%>"' style="cursor: pointer;">
        <td><%= book.book_title %></td>
        <td><%= book.author %></td>
        <td><%= book.year %></td>
        <td><%= book.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Book", new_book_path %>
